body {
  background-color: #121214;

  margin: 0;
  padding: 0;
  box-sizing: boder-box;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

body, button, input {
  font-family: "Roboto", sans-serif;
}
